.filter {
    margin-top: 20px;
  
    .input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
  
      &:focus {
        outline: none;
        // border-color: $primary-color;
      }
    }
  }
  